html, body {
	background: url("assets/background2.png") top center;
  }
.service-card {
	margin: 10px;
	border-radius: 10px;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
	max-width: 3006px; /* Set the maximum width of the card */
}

.service-card:hover {
	transform: scale(1.05);
}
.service-card:hover .card-body {
	transform: scale(1.05);
  }

  .card-img-top {
	height: 200px;
	object-fit: cover;
	transition: transform 0.3s ease-in-out;
  }

  .card-body {
	background-color: #007bff;
	color: #fff;
	transition: transform 0.3s ease-in-out;
  }
  .btn-apply {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
  }

  .service-card:hover .btn-apply {
	opacity: 1;
  }
 /* Media Query for Responsive Design */
 @media screen and (min-width: 576px) {
	.service-card {
	  transform: scale(0.8); /* Scale down the card for larger small screens */
	}
  }
  
  @media screen and (min-width: 768px) {
	.service-card {
	  transform: scale(0.9); /* Scale down the card for medium screens */
	}
  }
  
  @media screen and (min-width: 992px) {
	.service-card {
	  transform: scale(0.95); /* Scale down the card for large screens */
	}
  }
  
  @media screen and (min-width: 1200px) {
	.service-card {
	  transform: scale(1); /* Default scale for extra-large screens */
	}
  }  