* {
  margin: 0;
  padding: 0;
  color:black;
}
html, body {
  background: url("assets/call.jpg") top center;
}
.card {
  margin: 0;
  padding: 0;
}
.dark-bg {
  background-color: #333; /* You can use any dark color of your choice */
  color: #fff; /* Text color on dark background */
}

.container.mt-5 {
  margin-top: 50px; /* Adjust the value as needed */
}


input:-webkit-autofill {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

  .service-card {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    max-width: 3006px; /* Set the maximum width of the card */
  }

  .service-card:hover {
    transform: scale(1.05);
  }
  .service-card:hover .card-body {
    transform: scale(1.05);
  }

  .card-img-top {
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  .card-body {
    
    background-color: rgb(226, 237, 247);
    color: #fff;
    transition: transform 0.3s ease-in-out;
  }
  /* .btn-apply {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  } */

  /* .service-card:hover .btn-apply {
    opacity: 1;
  } */
   
  .blurred-card {
   * Adjust the alpha value for transparency */
    border-radius: 10px; /* Adjust the border-radius for rounded corners */
    padding: 20px; /* Add padding as needed */
    backdrop-filter: blur(10px); /* Apply blur effect */
  }